body {
  margin: 0;
  padding: 8px;
  background-color: #ede9d9;
}

.hands {
  counter-reset: matching_dice;
  border: 1px solid red;
  flex: 50%;
  width: fit-content;
}
.hands.selected.one :not(.unknown) .diceFace.one:not(.unknown) {
  border: 4px solid white;
  counter-increment: matching_dice;
}
.hands.selected.two :not(.unknown) .diceFace.two:not(.unknown),
.hands.selected.two :not(.unknown) .diceFace.one:not(.unknown) {
  border: 4px solid white;
  counter-increment: matching_dice;
}
.hands.selected.three :not(.unknown) .diceFace.three:not(.unknown),
.hands.selected.three :not(.unknown) .diceFace.one:not(.unknown) {
  border: 4px solid white;
  counter-increment: matching_dice;
}
.hands.selected.four :not(.unknown) .diceFace.four:not(.unknown),
.hands.selected.four :not(.unknown) .diceFace.one:not(.unknown) {
  border: 4px solid white;
  counter-increment: matching_dice;
}
.hands.selected.five :not(.unknown) .diceFace.five:not(.unknown),
.hands.selected.five :not(.unknown) .diceFace.one:not(.unknown) {
  border: 4px solid white;
  counter-increment: matching_dice;
}
.hands.selected.six :not(.unknown) .diceFace.six:not(.unknown),
.hands.selected.six :not(.unknown) .diceFace.one:not(.unknown) {
  border: 4px solid white;
  counter-increment: matching_dice;
}

.hand {
  border: 1px solid black;
  margin: 3px;
  border-radius: 0.4em;
  display: flex;
  width: fit-content;
  background-color: lightblue;
}
.hand:hover {
  border-color: yellow;
}

.diceFace {
  border: 4px solid grey;
  margin: 3px;
  height: 2em;
  width: 2em;
  border-radius: 0.4em;
  padding: 0.4em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  display: grid;
  background-color: lightgrey;
}
.diceFace:hover {
  border-color: yellow;
}
.diceFace > .pip {
  border: 1px solid black;
  border-radius: 40%;
  background-color: black;
}
.diceFace > .pip.top_left {
  grid-column: 1;
  grid-row: 1;
}
.diceFace > .pip.top_right {
  grid-column: 5;
  grid-row: 1;
}
.diceFace > .pip.middle_left {
  grid-column: 1;
  grid-row: 3;
}
.diceFace > .pip.middle_centre {
  grid-column: 3;
  grid-row: 3;
}
.diceFace > .pip.middle_right {
  grid-column: 5;
  grid-row: 3;
}
.diceFace > .pip.bottom_left {
  grid-column: 1;
  grid-row: 5;
}
.diceFace > .pip.bottom_right {
  grid-column: 5;
  grid-row: 5;
}
.diceFace.one .top_left,
.diceFace.one .top_right,
.diceFace.one .middle_left,
.diceFace.one .middle_right,
.diceFace.one .bottom_left,
.diceFace.one .bottom_right {
  display: none;
}
.diceFace.two .top_right,
.diceFace.two .middle_left,
.diceFace.two .middle_centre,
.diceFace.two .middle_right,
.diceFace.two .bottom_left {
  display: none;
}
.diceFace.three .top_right,
.diceFace.three .middle_left,
.diceFace.three .middle_right,
.diceFace.three .bottom_left {
  display: none;
}
.diceFace.four .middle_left,
.diceFace.four .middle_centre,
.diceFace.four .middle_right {
  display: none;
}
.diceFace.five .middle_left,
.diceFace.five .middle_right {
  display: none;
}
.diceFace.six .middle_centre {
  display: none;
}
.unknown .diceFace, .diceFace.unknown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.unknown .diceFace .top_left,
.unknown .diceFace .top_right,
.unknown .diceFace .middle_left,
.unknown .diceFace .middle_centre,
.unknown .diceFace .middle_right,
.unknown .diceFace .bottom_left,
.unknown .diceFace .bottom_right, .diceFace.unknown .top_left,
.diceFace.unknown .top_right,
.diceFace.unknown .middle_left,
.diceFace.unknown .middle_centre,
.diceFace.unknown .middle_right,
.diceFace.unknown .bottom_left,
.diceFace.unknown .bottom_right {
  display: none;
}
.unknown .diceFace .middle_centre, .diceFace.unknown .middle_centre {
  display: contents;
  font-size: 2.5em;
}
.unknown .diceFace .middle_centre::before, .diceFace.unknown .middle_centre::before {
  content: "?";
}

#count::before {
  content: "There are " counter(matching_dice);
}

.game_area {
  margin: 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.game_area .action_display {
  flex: 50%;
}
.game_area .action_display .bet_history {
  max-height: 75vh;
  overflow-y: auto;
}

.my_actions {
  border: 1px solid black;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.my_actions button {
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  border-radius: 0.2em;
  background-color: darkgreen;
  color: lightblue;
}
.my_actions button:disabled {
  background-color: rgb(98, 133, 98);
}

.bet,
.action {
  border-radius: 0.5em;
  margin: 0.5em 0;
  background-color: rgb(219, 255, 236);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}
.bet.dudo,
.action.dudo {
  background-color: rgb(250, 167, 152);
}
.bet.calza,
.action.calza {
  background-color: rgb(237, 211, 78);
}
.bet .player_identifier,
.action .player_identifier {
  font-size: 1.5em;
}
.bet .player_identifier .player_name,
.action .player_identifier .player_name {
  font-weight: 600;
}
.bet .action_content,
.action .action_content {
  display: flex;
  align-items: center;
}
.bet .bet_multiplier,
.action .bet_multiplier {
  font-size: 2em;
  display: flex;
  align-items: center;
}
.bet .bet_multiplier input,
.bet .bet_multiplier p,
.action .bet_multiplier input,
.action .bet_multiplier p {
  text-align: end;
  font-size: 1em;
  width: 2em;
}
.bet .action_text,
.action .action_text {
  font-size: 1.5em;
  font-weight: 600;
  flex: 10%;
}
.bet.selected.one :not(.unknown) .diceFace.one:not(.unknown),
.action.selected.one :not(.unknown) .diceFace.one:not(.unknown) {
  border: 4px solid red;
  counter-increment: matching_dice;
}
.bet.selected.two :not(.unknown) .diceFace.two:not(.unknown),
.action.selected.two :not(.unknown) .diceFace.two:not(.unknown) {
  border: 4px solid red;
  counter-increment: matching_dice;
}
.bet.selected.three :not(.unknown) .diceFace.three:not(.unknown),
.action.selected.three :not(.unknown) .diceFace.three:not(.unknown) {
  border: 4px solid red;
  counter-increment: matching_dice;
}
.bet.selected.four :not(.unknown) .diceFace.four:not(.unknown),
.action.selected.four :not(.unknown) .diceFace.four:not(.unknown) {
  border: 4px solid red;
  counter-increment: matching_dice;
}
.bet.selected.five :not(.unknown) .diceFace.five:not(.unknown),
.action.selected.five :not(.unknown) .diceFace.five:not(.unknown) {
  border: 4px solid red;
  counter-increment: matching_dice;
}
.bet.selected.six :not(.unknown) .diceFace.six:not(.unknown),
.action.selected.six :not(.unknown) .diceFace.six:not(.unknown) {
  border: 4px solid red;
  counter-increment: matching_dice;
}

.landing_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vw;
}
.landing_page h3 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}
.landing_page .landing_page_action_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.landing_page .landing_page_action_container button {
  height: 2em;
  font-size: 1.5em;
  border-radius: 0.2em;
  background-color: darkgreen;
  color: lightblue;
}
.landing_page .landing_page_action_container button#CreateLobbyButton:hover {
  text-shadow: 1px 1px 5px #ffcc00;
}
.landing_page .landing_page_action_container button#JoinLobbyButton:hover {
  text-shadow: 1px 1px 5px #414180;
}

/*# sourceMappingURL=styles.css.map */
